<div class="cora-text-{{ block.id }}" style="text-align: {{ block.settings.alignment }}; color: {{ block.settings.text_color }}; width: 100%;" {{ block.shopify_attributes }}>
  <div class="rte">
    {{ block.settings.text_content }}
  </div>
</div>